<div>机器人信息：</div>
<div>machine name:</div>
<div><%= @machine.name %></div>
<div>machine api:</div>
<div><%= @machine.api_key %></div>
<div>用户评分：</div>
<div>9.5</div>
<div>平均响应时间：</div>
<div>0.04 ms</div>
<div>结束聊天？请您评价：</div>
<div>五颗星</div>